<% set_title(@guide.title) %>

<p>
  <b>Title:</b>
  <%= @guide.title %>
</p>

<p>
  <b>Description:</b>
  <%= @guide.description %>
</p>

<p>
  <%= link_to "Edit", edit_item_guide_path(@item, @guide) %> |
  <%= link_to "Back", item_guides_path(@item) %>
</p>